header {
    background-color: darkgray;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #b8860b;
    text-decoration: underline;
}


footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.inputPadrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 50%;
    padding: 20px 0;
    background-color: orange;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;

}

.enviar:hover {
    background-color: darkorange;
    transform: rotate(360deg) scale(1.2);
    
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: dimgray;
    color: aliceblue;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 16px;
}